*{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
.navbar-brand{
    margin-left: 5px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.facility-icons{
    width: 100px;
    height: 100px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.availability-form{
    margin-top: -50px;
    z-index: 2;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .container {
    padding: 10 10px;
  }

  .about-section {
    padding: 30px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

  .custom-alert{
    position: fixed;
    top: 80px;
    right: 50px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

 .h-line{
    width: 10px;
    margin: 0 -50px;
    height: 1.7px;
} 
