*{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}
.navbar-brand{
    margin-left: 5px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.facility-icons{
    width: 100px;
    height: 100px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.availability-form{
    margin-top: -50px;
    z-index: 2;
}

/* .h-line{
    width: 10px;
    margin: 0 -50px;
    height: 1.7px;
} */

.custom-alert{
    position: fixed;
    top: 200px;
    right: 25px;
}

#dashboard-menu{
    position: fixed;
    height: 100%;
}

@media screen and (max-width: 992px){
    #dashboard-menu{
      height: auto;  
      width: 100%;
    }
    #main-content{
        margin-top: 60px;
    }
}